ipapy @ git+https://github.com/EugenefedorovPro/ipapy_eugene.git@1cb62fa932b0ba0dc530bde5e6469a8e70b2c820
wiktionary-rus @ git+https://github.com/EugenefedorovPro/wiktionary_rus.git@2855170b336230fce586e48a90b1e3657b179f5c
tensorflow==2.9.1
pandas==1.4.3
numpy==1.23.1